*.py[cod]

# C extensions
*.so

#env
env/
env
# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
build
dist
dist/*
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/

# Downloads
downloads/

# Logs
logs/
