{% extends "bootstrap/base.html" %}

{% block title %} Google image download server {% endblock %}

{% block styles %}
  {{super()}}
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
{% endblock %}

{% block content %}
  <div class="container">
    <p>Welcome to Google Image Download Server </p>
    <form method="POST" action="{{ url_for('index') }}">
      {# {{ form.csrf_token }} #}
      <dl class="dl-horizontal">
        <dt>{{ form.query.label }} </dt><dd>{{ form.query(size=20) }}</dd>
	<dt>{{ form.disable_image.label }}</dt><dd>{{ form.disable_image(size=5) }}</dd>
	<dt>{{ form.limit.label }}</dt><dd>{{ form.limit }}</dd>
      </dl>
      <p><input type="submit" value="Go">
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}">{{ message }}</div>
      {% endfor %}
      {% endif %}
    {% endwith %}
    {% if entry %}
    <div class="alert alert-success" role="alert">query [{{entry.query}}] found {{entry.match_results|length}} match(s)</div>
    {% endif %}
    {% if entry.match_results %}
    {{ render_pagination(pagination) }}
    <h5>Match result</h5>
    <div>
    {% if limit %}
    {% set entry_match_results = entry.match_results[:limit] %}
    {% else %}
    {% set entry_match_results = entry.match_results%}
    {% endif %}
    {% for match_results in entry_match_results|batch(2) %}
    <div class="row">
    {% for match_result in match_results %}
      <!--{{match_result|safe}}-->
      <!--loop index: {{loop.index}}-->
      <div class="media col-lg-6">
        <div class="media-left">
          <figure>
	    {% if not disable_image %}
            <img style="max-width:128px;max-height:128px" src='{{match_result.json_data['tu']}}'>
	    {% endif %}
	    <figcaption class="text-center"><a href="{{match_result.img_url}}">{{match_result.img_url_width}}x{{match_result.img_url_height}}</a></figcaption>
          </figure>
        </div>
        <div class="media-body">
	  <h4 class="media-heading"> <a href="{{match_result.imgref_url}}">{{match_result.json_data['pt']}}</a></h4>
          <span>
	    {% if match_result.json_data['s'] %}
            {{match_result.json_data['s']}}<br/>
	    {% endif %}
	    filename: {{match_result.img_url_basename}}
	    <br/>
	    site: <a href"{{match_result.json_data['isu']}}">{{match_result.json_data['isu']}}</a>
	    <br/>
            link:
            <a class="label label-default" href="{{match_result.imgref_url}}">page</a>
            <a class="label label-default" href="{{match_result.img_url}}">image</a>
            <a class="label label-default" href="https://www.google.com/searchbyimage?image_url={{match_result.img_url|urlencode}}&safe=off">google</a>
        </div>
        {% for key, value in match_result.json_data.items()|sort %}
          <!--{{key}}: {{value}}-->
        {% endfor %}
      </div>
    {% endfor %}
    </div>
    <br/>
    {% endfor %}
    </div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> List of image URL
	    <span style="display: inline-block;" >
	      <button class="btn btn-info btn-xs" data-toggle="collapse" data-target="#img-url-list">show</button>
	    </span>
	  </h4>
        </div>
        <div id="img-url-list" class="panel-collapse collapse">
          <ul class="list-group">
	    {% for match_result in entry.match_results|sort(attribute='img_url') %}
	      <li style="word-wrap:break-word;" class="list-group-item"><a href="{{match_result.img_url}}">{{match_result.img_url}}</a></li>
	    {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {{ render_pagination(pagination) }}
    {% endif %}
  </div>
{% endblock %}

{% macro render_pagination(pagination) %}
  <div class="pagination">
    <nav>
      <ul class="pagination">
        {% if pagination.has_prev %}
	<li><a href="{{ pagination.page_func(pagination.page - 1) }}">Prev &laquo;</a></li>
	{% else %}
	<li class="disabled"><a href="#">Prev &laquo;</a></li>
        {% endif %}
        {%- for page in pagination.iter_pages() %}
          {% if page %}
          {% if page != pagination.page %}
	  <li> <a href="{{ pagination.page_func(page) }}">{{ page }}</a> </li>
          {% else %}
	  <li class="active"><a href="#"><strong>{{ page }}</a></strong></li>
          {% endif %}
          {% else %}
	  <li><a href="#"><span class=ellipsis>…</span></a></li>
          {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
	<li><a href="{{ pagination.page_func(pagination.page + 1) }}">Next &raquo;</a></li>
	{% else %}
	<li class="disabled"><a href="#">Next &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endmacro %}
