{% extends "bootstrap/base.html" %}

{% block title %} Google image download server {% endblock %}

{% block styles %}
  {{super()}}
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <p>Welcome to Google Image Download Server </p>
    <form method="POST" action="{{ url_for('index') }}">
      {{ form.csrf_token }}
      {{ form.query.label }} {{ form.query(size=20) }}
      <br><br>
      {{ form.starting }}
      {{ form.ending }}
      <input type="submit" value="Go">
    </form>
    {% if entry %}
    <p> query [{{entry.query}}] found {{entry.match_results|length}} match(s) </p>
    {% endif %}
    <h5>Match result</h5>
    <div>
    {% for match_results in entry.match_results|batch(2) %}
    <div class="row">
    {% for match_result in match_results %}
      <!--{{match_result|safe}}-->
      <!--loop index: {{loop.index}}-->
      <div class="media col-lg-6">
        <div class="media-left">
          <figure>
            <img style="max-width:128px;max-height:128px" src='{{match_result.json_data['tu']}}'>
      	    <figcaption> {{match_result.img_url_width}}x{{match_result.img_url_height}} </figcaption>
          </figure>
        </div>
        <div class="media-body">
          <h4 class="media-heading"> {{match_result.json_data['pt']}}</h4>
          <span>
	    {% if match_result.json_data['s'] %}
            {{match_result.json_data['s']}}<br/>
	    {% endif %}
	    filename: {{match_result.img_url_basename}}
	    <br/>
	    site: <a href"{{match_result.json_data['isu']}}">{{match_result.json_data['isu']}}</a>
	    <br/>
            link:
            <a class="label label-default" href="{{match_result.imgref_url}}">page</a>
            <a class="label label-default" href="{{match_result.img_url}}">image</a>
            <a class="label label-default" href="https://www.google.com/searchbyimage?image_url={{match_result.img_url|urlencode}}&safe=off">google</a>
        </div>
        {% for key, value in match_result.json_data.items()|sort %}
          <!--{{key}}: {{value}}-->
        {% endfor %}
      </div>
    {% endfor %}
    </div>
    <br/>
    {% endfor %}
    </div>
  </div>
{% endblock %}
