{% extends 'admin/base.html' %}
{% block body %}
<form method="GET" action="{{url_for('f.index')}}">
  <section>
    <h2>Input</h2>
    <div class="form-group"> {{ form.file_path.label }} {{ form.file_path(class_="form-control") }} </div>
    <p>or</p>
    <div class="form-group"> {{ form.url.label }} {{ form.url(class_="form-control") }} </div>
  </section>
  <section>
    <h2>Option</h2>
    <div class="checkbox"> <label>{{form.disable_cache(type='checkbox')}}{{form.disable_cache.label}}</label></div>
    <div class="form-group"> {{ form.search_type.label }} {{ form.search_type(class_="form-control") }} </div>
  </section>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% if entry %}
<p> {{entry.match_results|length}} Results</p>
{% for search_result_row in entry.match_results|batch(4) %}
  <div class="row">
    {% for match_result in search_result_row %}
      <figure class="col-sm-3">
        <a class="thumb" href="{{url_for('u.index', u=match_result.img_url.url)}}">
          <img style="max-height: 280px; max-width: 280px; " class="img-thumbnail img-responsive center-block" src="{{match_result.thumbnail_url.url}}">
        </a>
        <figcaption>
	  <a href="{{match_result.img_url.url}}">[{{match_result.img_url.width}}x{{match_result.img_url.height}}]</a>
	  <a class="icon" href="{{url_for('f.index', url=match_result.img_url.url, search_type=1)}}">
	    [<span class="fa fa-search glyphicon glyphicon-search"></span> similar]
	  </a>
	  <a class="icon" href="{{url_for('f.index', url=match_result.img_url.url, search_type=2)}}">
	    [<span class="fa fa-search glyphicon glyphicon-search"></span> size]
	  </a>
         </figcaption>
      </figure>
    {% endfor %}
  </div>
{% endfor %}
{% endif %}
{% endblock body %}
