{% extends "google_images_download/base.html" %}

{% block content %}
  <div class="container">
    <form class="form" method="GET" action="{{ url_for('from_file_search_page') }}">
      <div class="form-group">{{form.file_path.label}} {{form.file_path(class_="form-control")}}</div>
      <div class="form-group">{{form.search_type.label}} {{form.search_type()}}</div>
      <div class="form-group">{{form.disable_cache.label}} {{form.disable_cache()}}</div>
      <div class="form-group">{{form.disable_image.label}} {{form.disable_image()}}</div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    {{show_flash_message()}}
    {% if entry %}
    <h4>Result</h4>
    <img src="{{url_for('thumbnail', filename=entry.search_file.thumbnail_basename)}}">
    <table class="table table-condensed table-bordered">
      <tr>
        <td>Search url</td>
	<td>
          <a href="{{entry.search_file.search_url}}">{{entry.search_file.search_url|truncate(70) if entry.search_file.search_url}}</a>
	</td>
      </tr>
      <tr>
        <td>Similar search url</td>
	<td>
	  {% if entry.search_file.similar_search_url %}
	  <a href="{{entry.search_file.similar_search_url}}">{{entry.search_file.similar_search_url|truncate(70) if entry.search_file.similar_search_url}}</a>
	  {% endif %}
	</td>
      </tr>
      <tr>
        <td>Size search url</td>
	<td>
	  {% if entry.search_file.size_search_url %}
	  <a href="{{entry.search_file.size_search_url}}">{{entry.search_file.size_search_url|truncate(70) if entry.search_file.size_search_url}}</a>
	  {% endif %}
	</td></tr>
      <tr>
        <td>Image guess</td>
	<td>
	  {%  if entry.search_file.image_guess %}
	  <a href="{{url_for('index', query=entry.search_file.image_guess)}}">{{entry.search_file.image_guess}}</a>
          {% endif %}
	</td></tr>
    </table>
    {{show_match_results(entry.match_results)}}
    {% endif %}
  </div>
{% endblock %}
